.table {
  width: 100%;
}

.table > thead > tr > th {
  border-bottom: 2x solid #ddd;
  padding: 8px 0px;
  padding-right: 8px;
  text-transform: uppercase;
  font-family: 'RobotoCondensed-Regular', arial, sans-serif;
  font-size: 0.9rem;
  color: #777;
  text-align: left;
  font-weight: 500;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.table > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
