@import "theme-template";
// variables

$light-text-color: #fff;
$dark-text-color: #444;
$primary-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: lighten(#3876EA, 8%);
$error-text-color: #E3745B;

$bg-color: #212531;
$panel-bg-color: #393F4F;
$light-panel-bg-color: #21212D;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #3876EA;
$secondary-button-bg-color: #999999;

$alert-color: $error-text-color;
$info-color: lighten($link-text-color, 8%);
$success-color: #50D2C2;
$warning-color: #FCAB53;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: #6EC105;
$ask-color: #FD6B38;
$call-color: #FFCC00;
$positive-color: #6EC105;
$negative-color: #E1424A;
$row-accent-color: #212531;
$header-color: #2C3240;

.darkTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color
  );
}

// custom changes made by @cass
.body {
    font: 80%/1.418 "Roboto";

}


.darkTheme {

  .grid-block[style] {
     border: 0px solid $row-accent-color;
}

  .button.outline,
  button {
      border-radius: 0px;
    }

  .bottom-stats label {
    border: 0px;
  }

  div.exchange-content-header {
    border-bottom: 1px solid darken($secondary-button-bg-color, 40%);
  }




  table > tbody > tr.activeMarket,
  table > tbody > tr.activeMarket:hover {
    background-color: lighten($panel-bg-color, 80%);
  }



  .table > tbody > tr > td {
    border-bottom: 1px solid darken($secondary-button-bg-color, 40%);
  }

  .table > thead > tr > th {
    border-color: 1px solid darken($secondary-button-bg-color, 40%);
    background: #FFF;
    display:none;
  }

  .orderbook-showall {
    border-top: 1px solid darken($secondary-button-bg-color, 40%);
  }




  .gold-star > svg > path {
    fill: #6DCC5A;
  }

  .grey-star > svg > path {
      fill: #DCDCDC;
    }



  .label,
  .label.warning,
  .label.success,
  .label.info,
  .label.cancel,
  .label.alert {
    border-radius: 2px;
  }

}

td.info {
  display: none;
}


.bid-total span
 {
  color: $light-text-color;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
}

.ask-total span
 {
  color: $light-text-color;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;

}
