@import "theme-template";

// variables

$light-text-color: #43484D;
$dark-text-color: #43484D;
$primary-text-color: #43484D;
$secondary-text-color: lighten($primary-text-color, 20%);
$link-text-color: #358ED7;
$error-text-color: #E3745B;

$bg-color: #FFF;
$panel-bg-color: #e5e6e4;
$light-panel-bg-color: #FFF;
$super-light-panel-bg-color: darken($light-panel-bg-color, 1%);
$button-bg-color: #E1E8EE;
$secondary-button-bg-color: #86939E;

$alert-color: $error-text-color;
$info-color: #A0A4B8;
$success-color: #7DC855;
$warning-color: #f35b92;
$fee-color: #86939E;

// Exchange colors
$bid-color: #7DC855;
$ask-color: #F7A696;
$call-color: #BBBF2B;
$positive-color: #7DC855;
$negative-color: #F7A696;
$row-accent-color: lighten($panel-bg-color, 4%);
$header-color: #DCDCDC;


.lightTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color
  );
}


// custom changes made by @cass

.lightTheme {

  .button.outline,
  button {
      border-radius: 2px;
    }

  .bottom-stats label {
    border: 0px;
  }

  div.exchange-content-header {
    border-bottom: 1px solid lighten($secondary-button-bg-color, 4%);
  }



  table > tbody > tr {
    opacity: 75%;
    &:hover {
    opacity: 75%;
    }
  }

  table > tbody > tr.activeMarket,
  table > tbody > tr.activeMarket:hover {
  color: darken($dark-text-color, 3%);
  background-color: lighten($panel-bg-color, 2%);
  }



  .table > tbody > tr > td {
    border-bottom: 1px solid lighten($secondary-button-bg-color, 10%);
  }

  .table > thead > tr > th {
    border-color: 1px solid lighten($secondary-button-bg-color, 10%);
    background: #FFF;
    display:none;
  }

  .orderbook-showall {
    border-top: 1px solid lighten($secondary-button-bg-color, 4%);
  }





  .gold-star > svg > path {
    fill: #838CC7;
  }

  .grey-star > svg > path {
      fill: #DCDCDC;
    }



  .label,
  .label.warning,
  .label.success,
  .label.info,
  .label.cancel,
  .label.alert {
    border-radius: 2px;
    background-color: #FFF;
  }

}


.bid-total span
 {
  color: $light-text-color;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
}

.ask-total span
 {
  color: $light-text-color;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;

}




// custom changes made by @cass
